html {font-size: calc( 100/1920 * 100vw)}
@media screen and (max-width: 1200px) {  html{font-size: 64px;} }
@media screen and (min-width: 1920px) {  html{font-size: 100px;} }

body{background:#fff;color:#000000;font-size:14px;position: relative;font-family:"microsoft yahei", Arial, Helvetica, sans-serif;  margin:0;  padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,span,i{margin:0;padding:0;font-style: normal;font-weight: normal;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; }
input,button,textarea {border:none;outline: none;list-style:none;}
a{color:#000000;text-decoration:none;}
a:hover{text-decoration:none;}
img{border:none;vertical-align:top;outline:none;}
ol,ul,li{list-style:none;}
area,button,input,textarea,a,div{outline: none;}
.fl{float: left;}
.fr{float: right;}
.cl{clear: both;height: 0;}



.no_sel{
    -webkit-user-select:none;  -moz-user-select:none;  -ms-user-select:none;  user-select:none;
}

/* css reset end */
body>.container{min-width: 1200px;background: #f4f4f4;}
.main{width: 1400px;margin: 0 auto;position: relative;}

/*����*/
.navigation-is-open .header_top.ht_fixed{ top:-100px!important;}
.navigation-is-open .header.ie8none.hnone { display: block!important;}

/*��ע��*/
.navigation-is-open .cdnav {width: 9.375%;/*height:10.6%;*/position:fixed;right:0; top: 0;z-index: 499;overflow: hidden;background:#1d21a9;}
/*end*/

.header { position:absolute; right:0; top:0; height:100%; width:9.375%;  overflow:hidden;z-index: 20;}
.header .header_logo{ background:#FFF;width: 65%;margin-left: 35%;height: 136px;display: block;}
.icon{color: #de5350;}
.header_logo {text-align: center;padding: 13px 0;border-bottom-right-radius: 20px;}
.header_logo img{ margin: 0 auto;height: 100%;display: inline-block;vertical-align: middle;}

.boxshadow{box-shadow: 1px 1px 1px rgba(0,0,0,.1);-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);}


.dtable {display: table;width: 100%;height: 100%;}
.dtable-cell {display: table-cell;vertical-align: middle;}


main{display: block; position: relative; z-index: 2; -webkit-overflow-scrolling: touch; padding: 0; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.7s; -moz-transition: -moz-transform 0.7s; transition: transform 0.7s; -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99); transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);}
/*.navigation-is-open { overflow:hidden;}*/
.navigation-is-open main{-webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%);}

.cdnav {width: 100%;height: 100%;position: absolute;right:0; top: 0;z-index: 3;overflow: hidden;background:#1d21a9;
    transition:width 0s ease 0s,height 0s ease 0s;
}

.cd-nav-trigger:hover .cd-nav-icon{opacity: 1;}


.no-touch .cd-nav-trigger:hover .cd-nav-icon::after{top: 2px;}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before{top: -2px;}



.cd-nav .nav_line{position: absolute;top:0;right: 0;height: 1px;background: #e8e8e8;width: 72.92%;}
.cd-nav{position: fixed;z-index: 999;top: 0;left: 0;height: 100%;width: 100%;/*background-color: #1c1c1c;*/-webkit-transform: translateX(-100%);-moz-transform: translateX(-100%);-ms-transform: translateX(-100%);-o-transform: translateX(-100%);transform: translateX(-100%);-webkit-transition: -webkit-transform 0.5s;-moz-transition: -moz-transform 0.5s;transition: transform 0.5s;
    background: rgba(20,20,20,0.5);min-width: 1200px;
}


.cd-nav .cd-navigation-wrapper{ padding: 0px 0 0px 16.5%;height: 100%; overflow: hidden; /*-webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78); -webkit-overflow-scrolling: touch; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; */}

.navigation-is-open .cd-nav{visibility: visible;/* -webkit-transform: translateX(0); */-moz-transform: translateX(0);-ms-transform: translateX(0);-o-transform: translateX(0);transform: translateX(0);}
.navigation-is-open .cd-nav .cd-navigation-wrapper{/*-webkit-transition: -webkit-transform 0.5s; -moz-transition: -moz-transform 0.5s; transition: transform 0.5s;-webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);*/}


.cd-nav h2{position: relative; margin-bottom: 1.5em; font-size: 1.3rem; font-weight: 800; color: #666; text-transform: uppercase;}
.cd-nav h2::after{content: ''; position: absolute; left: 0; bottom: -20px; height: 1px; width: 60px; background: #333;}
.cd-nav .cd-primary-nav * {-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;}
.cd-nav .cd-primary-nav{margin-top: 60px;}
.cd-nav .cd-primary-nav li{margin: 3em 0;}
.cd-nav .cd-primary-nav a{font-size: 3.4rem;color: #ccc;display: inline-block;font-family: 'Montserrat-Bold';}
.cd-nav .cd-primary-nav a:hover{color: #fff;}
.cd-nav .cd-primary-nav a h1{font-size: 3.4rem;color: #666;}
.cd-nav .cd-primary-nav a h3{ margin-left:-300px;}
.cd-nav .cd-primary-nav a:hover h1{color: #fff;}
.cd-nav .cd-primary-nav a:hover h3{color: #666;margin-left:0px;}
.cd-nav .cd-primary-nav a.selected{color: #ffffff;}
.cd-nav .cd-contact-info{ position:absolute; width:14%; background:#000; top:0; right:0; height:100%; padding:12% 3% 0 4%; z-index:9;}
.cd-nav .cd-contact-info li{margin-bottom: 2em; line-height: 1.2; color:#666;}
.cd-nav .cd-contact-info li:nth-child(2){margin-bottom: 15px;}
.cd-nav .cd-contact-info li:nth-child(3){margin-bottom: 3px;line-height: 24px;}
.cd-nav .cd-contact-info li:nth-child(5) {margin-top: 30px;}
.cd-nav .cd-contact-info li:nth-child(5){color: #464646;}
.cd-nav .cd-contact-info li:nth-child(1) {font-size: 16px;text-transform: uppercase;position: relative;padding-bottom:20px;margin-bottom: 20px;}
.cd-nav .cd-contact-info li:nth-child(1)::after {content: '';width: 40px;height: 1px;background: #fff;position: absolute;left: 0;bottom: 0;opacity: .3;}
.cd-nav .cd-contact-info a:hover{color: #fff;}
.cd-nav .cd-contact-info span{display: block; font-size:12px;line-height: 24px;}
.cd-nav .cd-contact-info li:nth-child(2){font-size: 1.4rem;color: #ffffff;}
.cd-nav .cd-contact-info li:nth-child(3){color: #555;}


.cd-half-block {position: relative;z-index: 3;margin-top: 50px;overflow: hidden;padding-bottom: 10px;}


.navigation-is-open .cd-nav li{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.navigation-is-open .cd-nav li.dnav1 {-webkit-animation-duration:.7s;animation-duration:.7s;}
.navigation-is-open .cd-nav li.dnav2 {-webkit-animation-duration:.8s;animation-duration:.8s;}
.navigation-is-open .cd-nav li.dnav3 {-webkit-animation-duration:.9s;animation-duration:.9s;}
.navigation-is-open .cd-nav li.dnav4 {-webkit-animation-duration:1.0s;animation-duration:1.0s;}
.navigation-is-open .cd-nav li.dnav5 {-webkit-animation-duration:1.1s;animation-duration:1.1s;}




.no-js main{height: auto; overflow: visible;}
.no-js .cd-nav{position: static; visibility: visible;}
.no-js .cd-nav .cd-navigation-wrapper{height: auto; overflow: visible; padding: 100px 5%; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0);}



.mntel {display: none; border-top: 1px solid #333;overflow: hidden; text-align: left; margin: 10% 0px 0 0px;width: 90%;}
.mntel span {width:auto;display: inline-block;border-radius:3px; margin-top: 10%;background:  url("../case/img/ctel.svg") 10% center no-repeat;background-size: 10%; padding: 10px 20px 10px 40px;border: 1px solid rgba(255,255,255,.2);font-family: 'Montserrat-Bold';text-align: center;font-size: 16px;color: #fff;}
.mntel a:hover {color: #fff;font-size: 16px;}
.mntel * {color: #fff;}



.menu-toggle,.cd-nav-trigger {width: 100%;height: 100%;display: block;}
.menu-toggle span.hamburger,
.menu-toggle span.hamburger:after,
.menu-toggle span.hamburger:before {content:"";display:block;width:24px;height:3px;background:#fff;position:absolute;top:50%;margin-top:-1px;left:50%;margin-left:-12px;-webkit-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-o-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-o-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-delay:0.15s;}
.menu-toggle span.hamburger,
.menu-toggle span.hamburger:after,
.menu-toggle span.hamburger:before {content:"";display:block;width:24px;height:3px;background:#fff;position:absolute;top:50%;margin-top:-1px;left:50%;margin-left:-12px;-webkit-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-o-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-o-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-delay:0.15s;}
.menu-toggle span.hamburger:after {margin-top:-7px;top:0;transition-delay:0.27s;}
.menu-toggle span.hamburger:before {margin-top:7px;top:0;transition-delay:0.2s;}
.navigation-is-open .menu-toggle span.hamburger,
.navigation-is-open .menu-toggle span.hamburger:after,
.navigation-is-open .menu-toggle span.hamburger:before {transition-delay:0.12s;-webkit-transform:translateX(-70px);-moz-transform:translateX(-70px);-ms-transform:translateX(-70px);-o-transform:translateX(-70px);transform:translateX(-70px);}
.navigation-is-open .menu-toggle span.hamburger,
.navigation-is-open .menu-toggle span.hamburger:after,
.navigation-is-open .menu-toggle span.hamburger:before {-webkit-transform:translateX(70px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);transform:translateX(100px);}
.navigation-is-open .menu-toggle span.hamburger:after {transition-delay:0s;}
.navigation-is-open .menu-toggle span.hamburger:before {transition-delay:0.07s;}
.menu-toggle span.cross:before,
.menu-toggle span.cross:after {content:"";display:block;width:24px;height:3px;background:#fff;position:absolute;top:50%;margin-top:-1.5px;left:50%;margin-left:-12px;-webkit-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-o-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-o-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transform:translateY(-70px) translateX(-70px) rotate(45deg);-moz-transform:translateY(-70px) translateX(-70px) rotate(45deg);-ms-transform:translateY(-70px) translateX(-70px) rotate(45deg);-o-transform:translateY(-70px) translateX(-70px) rotate(45deg);transform:translateY(-70px) translateX(-70px) rotate(45deg);transition-delay:0.12s;}
.menu-toggle span.cross:after {transition-delay:0s;-webkit-transform:translateY(70px) translateX(-70px) rotate(-45deg);-moz-transform:translateY(70px) translateX(-70px) rotate(-45deg);-ms-transform:translateY(70px) translateX(-70px) rotate(-45deg);-o-transform:translateY(70px) translateX(-70px) rotate(-45deg);transform:translateY(70px) translateX(-70px) rotate(-45deg);}
.menu-toggle span.cross:after {-webkit-transform:translateY(-70px) translateX(70px) rotate(-45deg);-moz-transform:translateY(-70px) translateX(70px) rotate(-45deg);-ms-transform:translateY(-70px) translateX(70px) rotate(-45deg);-o-transform:translateY(-70px) translateX(70px) rotate(-45deg);transform:translateY(-70px) translateX(70px) rotate(-45deg);}
.navigation-is-open .menu-toggle span.cross:before {transition-delay:0.12s;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.navigation-is-open .menu-toggle span.cross:after {transition-delay:0.24s;-webkit-transform:rotate(-45deg) !important;-moz-transform:rotate(-45deg) !important;-ms-transform:rotate(-45deg) !important;-o-transform:rotate(-45deg) !important;transform:rotate(-45deg) !important;}


.top{position: fixed !important;top:0;left:0;z-index: 599;width: 100%;
    min-width: 1200px;
}
.top>img{width: 100%;}

.top_nav{position: absolute;width: 100%;height: 100%;top:0;left: 0;z-index: 10;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items:  center ;
}
.top_nav ul li{float: left;margin-right: 10px;font-size: 18px;
    line-height: 30px;height: 30px;border-radius:15px;
}
.top_nav ul li a{padding: 0 15px;height: 100%;display: block;}
.top_nav ul li a{color:#535353;}
.top_nav ul li:hover{background: #1d21a9;}
.top_nav ul li:hover a{color:#fff;}

.logo_box{position: absolute;top:3%;left:4.2%;height: 90%;z-index: 11;}
.logo_box img{height: 100%}

.nav_btn_sec{position: absolute;height: 100%;top:0;right: 13.5%;z-index: 11;
    width:150px;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: flex-end;
    align-items:  center ;

}
.nav_btn_sec a{color:#2a2eae;font-size: 18px;}
.nav_btn_sec .lang_change{margin-left: 15%;}
.nav_btn_sec .language_en{float: left;}
.nav_btn_sec .language_big5{float: left;margin-left: 10px;}
.nav_btn_sec .btn_search{cursor: pointer;}

.search_sec{position: absolute;width: 100%;height: 100%;top:0;left: 0;z-index:21;overflow: hidden;
    background: rgba(120,120,120,0.7);
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: flex-end;
    align-items:  center ;
    webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;-moz-transition: -moz-transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;transition: transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;
}
.search_sec.search_show{
    webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);
}

.search_sec .search_box{margin-right: 13.5%;position: relative;
    height: 36px;padding: 3px 15px;width: 20%;
    background: #fff;border: 1px solid #2a2eae;border-radius: 19px;
}
.search_sec .search_box button{background: url(03btn_search.png) no-repeat center top;
width: 26px;height: 26px;float: right;cursor: pointer;
}
.search_sec .search_box input{width: calc(100% - 30px);
    line-height: 28px;font-size: 16px;
}
.search_sec .search_box .search_close {position: absolute;right: -40px;top:3px;cursor: pointer;width: 26px;height: 26px;}
.search_sec .search_box .search_close:before,.search_sec .search_box .search_close:after {content:"";display:block;width:30px;height:3px;background:#fff;position:absolute;top:50%;margin-top:-1.5px;left:50%;margin-left:-12px;-webkit-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-o-transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);transition:transform 0.3s cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-moz-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-o-transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);transition-timing-function:cubic-bezier(0.600,0.000,0.200,1.000);-webkit-transform:translateY(-70px) translateX(-70px) rotate(45deg);-moz-transform:translateY(-70px) translateX(-70px) rotate(45deg);-ms-transform:translateY(-70px) translateX(-70px) rotate(45deg);-o-transform:translateY(-70px) translateX(-70px) rotate(45deg);transform:translateY(-70px) translateX(-70px) rotate(45deg);transition-delay:0.12s;}
.search_sec .search_box .search_close:after {transition-delay:0s;-webkit-transform:translateY(70px) translateX(-70px) rotate(-45deg);-moz-transform:translateY(70px) translateX(-70px) rotate(-45deg);-ms-transform:translateY(70px) translateX(-70px) rotate(-45deg);-o-transform:translateY(70px) translateX(-70px) rotate(-45deg);transform:translateY(70px) translateX(-70px) rotate(-45deg);}
.search_sec .search_box .search_close:after {-webkit-transform:translateY(-70px) translateX(70px) rotate(-45deg);-moz-transform:translateY(-70px) translateX(70px) rotate(-45deg);-ms-transform:translateY(-70px) translateX(70px) rotate(-45deg);-o-transform:translateY(-70px) translateX(70px) rotate(-45deg);transform:translateY(-70px) translateX(70px) rotate(-45deg);}
.search_sec.search_show .search_box .search_close:before {transition-delay:0.12s;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.search_sec.search_show .search_box .search_close:after {transition-delay:0.24s;-webkit-transform:rotate(-45deg) !important;-moz-transform:rotate(-45deg) !important;-ms-transform:rotate(-45deg) !important;-o-transform:rotate(-45deg) !important;transform:rotate(-45deg) !important;}

.cd_nav_cont{position: absolute;top:0;left: 0;width:40%;height: 100%;
    background: #fff;border-right:6px solid #1b21aa;overflow: hidden;
}

.nav_logo{position:absolute;width:95px;top:20px;left:10%;z-index: 11}
.nav_logo img{width: 100%;}
.logo_cont{position: absolute;width: 320px;top:50px;left: calc(10% + 120px);z-index: 11}
.logo_cont img{width: 100%;}


.cd-nav .close_k{position: absolute;top:0;right: 0;width: 60%;
    height: 100%;
}

.nav_cont_sec {padding: 190px 10% 0;width: calc(100% + 20px);
    height: 100vh;overflow-y:auto;
}
.cd_nav_cont .gradient{
    position: absolute;--text-opacity: 1;color: #fff;color: rgba(255,255,255,var(--text-opacity));width: 100%;z-index: 10;
    background:#fff;background: -webkit-gradient(linear,left top,left bottom,from(currentColor),color-stop(65%,currentColor),to(transparent));background: -webkit-linear-gradient(top,currentColor,currentColor 65%,transparent);background: -o-linear-gradient(top,currentColor 0,currentColor 65%,transparent);background: linear-gradient(180deg,currentColor,currentColor 65%,transparent);
    height: 190px;left: 0;pointer-events: none;top: 0;
}
.nav_cont_sec .nav_title{
    line-height: 40px;font-size: 30px;color:#1d21a9;margin-bottom:13px;
}
.nav_cont_sec .nav_title span{font-size: 32px;color:#282828;font-weight: bold;}
.nav_cont_sec .nav_title a{display: block;width: 100%;height: 100%;color:#1d21a9;}
.nav_cont_sec .nav_title .nav_sj{background: url(03nav_jt.png) no-repeat center top;float: right;width: 33px;height: 23px;margin-top:10px;
}
.nav_cont_sec .nav_title:hover .nav_sj{background: url(03nav_jt_cur.png) no-repeat center top;}
.nav_cont_sec .nav_title:hover span{color:#1d21a9;}
.nav_cont_sec .nav_title:hover a{color:#282828;}

.nav_cont_sec .nav_tits{margin-left: 5%;margin-bottom:16px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap ;
    flex-wrap: wrap ;
}
.nav_cont_sec .nav_tits li{font-size: 22px;color:#686868;margin-right:4%;line-height: 34px;}
.nav_cont_sec .nav_tits li a{color:#686868;}
.nav_cont_sec .nav_tits li:hover a{color:#1d21a9;;}

.nav_cont_sec .sjmt_box{padding-bottom: 70px;margin-top: 90px;height: 100px;}
.nav_cont_sec .sjmt_box .sjmt_tb{height:30px;float: left
}
.nav_cont_sec .sjmt_box .sjmt_tb img{margin-right: 30px;
cursor: pointer}

.templink-body{background:url(03hzwyyh_ewmbg.png) center center no-repeat;}
.templink-body img{border: 1px solid transparent;}

.top.fixed_hide{position: fixed;top:0;left: 0;z-index: 899;
    webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;-moz-transition: -moz-transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;transition: transform 0.6s cubic-bezier(.4,.2,.2,1) 0.1s;
}
.top.fixed_hide.fixed_show{
    webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);
}
.top.fixed_hide:hover{
    webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);
}
.top.fixed_hide.btn_show{
    webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);
}


/*footer*/
.footer{background: url(03footer.jpg) no-repeat center bottom;color:#282828;height:484px;padding-top:60px;}
.footer a{color:#282828;}
.footer_lf{line-height: 35px;float: left;width: 600px;}
.footer_lf .footer_lf_bottom{margin-top: 170px;font-size: 12px;line-height: 30px;color:#929292;}
.footer_lf .footer_lf_bottom a{color:#929292;}
.footer_rt{width: 600px;float: right;line-height: 35px;}

.footer_rt .sjmt_box{width: 360px;margin-right: -90px;margin-top: 45px;float: right; height: 50px;}
.footer_rt .sjmt_box .sjmt_tb{height:50px;float: left
}
.footer_rt .sjmt_box .sjmt_tb img{margin-right: 14px;
    cursor: pointer}


.footer_sub{  line-height:38px;  height:38px;  font-weight: bold;font-size: 16px; }
.footer_links{  width: 244px;  height: 206px;margin-left: 60px; }
.footer_past{  width: 195px;  height: 206px;margin-left: 100px; float: right; }
@media screen and (max-width:1600px) {
    .top_nav ul li{margin-right: 6px;font-size: 17px; }
    .main{width: 1200px;}
    .nav_logo{position:absolute;width:80px;top:16px;}
    .logo_cont{position: absolute;width: 260px;top:42px;left: calc(10% + 100px)}
    .nav_cont_sec{padding-top: 150px;}
    .cd_nav_cont .gradient{height: 150px;}
    .nav_cont_sec .nav_title{font-size:28px;margin-bottom:8px;}
    .nav_cont_sec .nav_title span{font-size:28px;}
    .nav_cont_sec .nav_tits{margin-bottom:12px;}
    .nav_cont_sec .nav_tits li{font-size: 20px;line-height: 32px;}
    .nav_cont_sec .sjmt_box{padding-bottom: 60px;margin-top: 50px;  height: 90px  }

}
@media screen and (max-width:1400px) {
    .top_nav ul li{float: left;margin-right: 4px;font-size: 16px;  }
    .top_nav ul li a{padding: 0 13px;}
    .main{width: 1000px;}
    .nav_btn_sec a{font-size: 16px;}
    .nav_logo{position:absolute;width:70px;top:15px;}
    .logo_cont{position: absolute;width: 230px;top:36px;left: calc(10% + 88px)}
    .nav_cont_sec{padding-top: 130px;}
    .cd_nav_cont .gradient{height: 130px;}

    .nav_cont_sec .nav_title{font-size:24px;margin-bottom:4px;}
    .nav_cont_sec .nav_title span{font-size:24px;}

    .nav_cont_sec .nav_title .nav_sj{margin-top: 8px;}
    .nav_cont_sec .nav_tits{margin-bottom:10px;}
    .nav_cont_sec .nav_tits li{font-size: 18px;line-height: 30px;}
    .nav_cont_sec .sjmt_box{padding-bottom: 50px;margin-top: 40px; height: 80px;   }
    .nav_cont_sec .sjmt_box .sjmt_tb img{margin-right:25px;}

    .footer{padding-top: 45px;height: 440px}
    .footer_lf{width: 500px;}
    .footer_lf .footer_lf_bottom{margin-top: 140px;width: 600px;
    }
    .footer_rt{width: 500px;float: right;line-height: 35px;}
    .footer_links{  margin-left: 20px; }
    .footer_past{ margin-left: 40px; }
}


.lte11_ie{display: none;}

.lte11_ie {color:#fff;}
.lte11_ie .ie_sec{padding: 12%;}
.lte11_ie .ie_sec h1{font-size: 48px;margin-bottom: 20px;font-weight: bold;}
.lte11_ie .ie_sec h2{font-size: 36px;line-height: 1.5;}
.lte11_ie .ie_sec .browser_lists{margin-top: 1.5%;}
.lte11_ie .ie_sec .browser_lists li{font-size: 30px;line-height: 2;
     margin-bottom: 10px;
 }
.lte11_ie .ie_sec .browser_lists li a{border-bottom: 1px solid #fff;
    color:#fff;padding-bottom: 10px;
}
@media screen and (max-width:1200px) {
    .lte11_ie .ie_sec{padding-top: 170px;}
    .lte11_ie .ie_sec h1{font-size: 40px;margin-bottom: 20px;}
    .lte11_ie .ie_sec h2{font-size: 30px;}
}
@media screen and (max-width:800px) {
    .lte11_ie .ie_sec h1{font-size: 34px;margin-bottom: 20px;}
    .lte11_ie .ie_sec h2{font-size: 26px;}
    .lte11_ie .ie_sec .browser_lists li{font-size: 20px;line-height: 2;
        margin-bottom: 10px;
    }
}


.sjd_item{display: none !important;}
@media screen and (max-width:480px) {
    .top,.cd-nav,.footer{display: none !important;}
    .pc_item{display: none !important;}
    .sjd_item{display: block !important;}

    body{padding-top:27% !important; }
    body>.container{min-width: 100%;}
    .main{width: 92%;}

    .head{ transition:all 0s ease 0s;
        width:100%;  padding:4% 4%;  background:url(z03head-bg.jpg) center top;  position:fixed;  left:50%;  margin-left:-50%;  top:0;  z-index:9000;background-size:100% 100%;  }
    .head-box{    display: -webkit-box;  display: -webkit-flex;   display: -ms-flexbox;  display: flex;  -webkit-box-align: center;  -ms-flex-align: center;  -webkit-align-items: center;  -moz-align-items: center;  align-items: center;     -webkit-justify-content: space-between;  -moz-justify-content: space-between;  justify-content:space-between;
        width: 100%;  }
    /* .head-box .logo{  display:block;  width:25%;  } */
    .head-box .logo{  display:block;  width:65%;  }
    .head-box .link{font-size:18px;color:#2a2eae;margin-top:5%;font-weight:bold;}
    .head-box .menu{  display:block;  width:13.6%; margin-top:5%; }
    .nav03{
        width:100%;  position:fixed;  left:-100%;  top:0;  background-color:rgba(44,49,201,0.96);  z-index:9999;  padding:5% 4% 18.7%;  height:100%;
        /* display:none; */  }
    .nav03.show{
        animation:mymove 500ms linear forwards;
        -webkit-animation:mymove 500ms linear forwards; /*Safari and Chrome*/
    }
    @keyframes mymove
    {
        from {left:-100%;}
        to {left:0;}
    }

    @-webkit-keyframes mymove /*Safari and Chrome*/
    {
        from {left:-100%;}
        to {left:0;}
    }
    .nav03.no-show{
        animation:mymove2 500ms linear forwards;
        -webkit-animation:mymove2 500ms linear forwards; /*Safari and Chrome*/
    }
    @keyframes mymove2
    {
        from {left:0;}
        to {left:-100%;}
    }

    @-webkit-keyframes mymove2 /*Safari and Chrome*/
    {
        from {left:0;}
        to {left:-100%;}
    }
    .nav03 .nav-box{
        width:100%;
    }
    .nav03 .nav-box .nav-top{
        width:100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    .nav03 .nav-box .nav-top .nav-logo{
        display:block;
        width:25%;
    }
    .nav03 .nav-box .nav-top .nav-top-right{
        display: flex;
        align-items: center;
        width: 28%;
        justify-content:space-between;

    }
    .nav03 .nav-box .nav-top .nav-top-right .link{
        display:block;  color:#fff;  font-size:18px;  line-height:32px;  margin-right:7%;
    }
    .nav03 .nav-box .nav-top .nav-top-right .close{  display:block;  width:42px;  }
    .nav-box .search{
        width:100%;
        position:relative;  height:42px;  border:1px solid #fff;  border-radius:21px;  padding:5px 15px 5px 22px;  margin:8.7% 0;
    }
    .nav-box .search input{
        display:block;
        border:none;
        color:#fff;
        width:calc(100% - 40px );
        background: transparent;
        height:100%;
        font-size:18px;
        margin-right:0;
    }
    .search .search-btn{
        width:26.4px;
        height:24px;
        background:url(z031search.png) no-repeat center center;
        background-size:100% 100%;
        position:absolute;
        right:13.2px;
        top:50%;
        margin-top:-12px;
    }
    .nav03 .menu{
        width:100%;
        height:70vh;
        overflow-y: auto;
        padding-bottom:5%;
    }
    .nav03 .menu .menu-item{
        width:100%;
        margin-bottom:4.3%;
    }
    .menu-item .item-total-title{
        color:#fff;
        font-size:21px;
        line-height:34px;
        margin-bottom:1.5%;
    }
    .menu-item .menu-item-con{
        width:100%;
        padding-left:1.5%;
        display:none;
    }
    .menu-item.open .menu-item-con{
        width:100%;
        padding-left:1.5%;
        display:block;
    }
    .menu-item .menu-item-con .item-title{
        display:block;
        color:#d2d2d2;
        font-size:16px;
        line-height:34px;
    }
    .menu-item .arrow{
        background:url(z031down.png) no-repeat right center;
        background-size:19.2px 12px
    }
    .menu-item.open .arrow{
        background:url(z031up.png) no-repeat right center;
        background-size:19.2px 12px
    }



    .sjd_footer{position: relative;
        width:100%;
       /* height:528px;
        background:url(03footer-bg.png) no-repeat;
        background-size:100% 100%;
        padding:0 29px;*/
    }
    .sjd_footer>img{width: 100%;}
    .sjd_footer_box{position: absolute;top:3%;left: 4%;width: 92%;}
    .footer-top{
        width:100%;
        display: flex;
        justify-content:space-between;
    }
    .footer-top-left{
        width:61vw;
    }
    .footer-top-left .footer-title{
        font-size:4.8vw;
        font-weight: bold;
        color:#525252;
        line-height:6.4vw;
        background:url(03footer-line.png) no-repeat left bottom;
        background-size:21.87vw 0.667vw;
        padding-bottom:1.333vw;
        margin-bottom:4%;
    }
    .footer-top-left .footer-left-item{
        width:100%;
        color:#525252;
        font-size:3.466vw;
        line-height:6.4vw;
    }
    .footer-top-right{
        width:21.6vw;
    }
    .footer-top-right img{
        display:block;
        width:21.6vw;
    }
    .footer-bottom{
        width:100%;
        margin-top:9.33vw;
    }
    .footer-bottom p{
        font-size:3.2vw;
        line-height:5.33vw;
        text-align:center;
        color:#525252;
    }

    .footer-bottom p a{color:#525252;}



}
@media screen and (max-width:380px) {
    .nav03 .nav-box .nav-top .nav-top-right .link{
         font-size:20px;  line-height:30px;  margin-right:10%;
    }
    .nav03 .nav-box .nav-top .nav-top-right .close{  width:38px;  }

    .menu-item .item-total-title{  font-size:18px;  line-height:28px;  }
    .menu-item .menu-item-con .item-title{
        font-size:15px;  line-height:32px;  }
}

@media screen and (max-width:340px) {
    .nav03 .nav-box .nav-top .nav-top-right .close {  width: 34px;  }
    .menu-item .item-total-title{  font-size:17px;  line-height:30px;  }
    .menu-item .menu-item-con .item-title{
        font-size:14px;  line-height:30px;  }
    .menu-item .arrow{  background-size:20px 12px;  }
    .menu-item.open .arrow{  background-size:20px 12px;  }
}

